{{include file="./common/head.html"}}
<body>
<noscript>
<div class="noScript">サイトを快適に利用するためには、JavaScriptを有効にしてください。</div>
</noscript>
<!--#wrapper/-->
<div id="wrapper">
    <!--#header/-->
    {{include file="./common/header.html"}}
    <!--/#header-->
    <div id="headerUneder">
        <!--#pankuzu/-->
        {{include file="./common/pankuzu.html"}}
        <!--#pankuzu/-->
    </div>
    <!--#contents/-->
<div id="container" class="wrap">
<h2 class="titleBox01"><span>:</span>Re:gurume利用規約</h2>
<div class="contents documentRules">
	<div class="block">
	<p>この規約（以下「本規約」といいます）は、アクサス株式会社（以下「当社」といいます）がRe:gurumeのサービス名称で提供するすべてのウェブサイト、ソフトウェア、アプリケーション、プロダクト、ドキュメントその他一切の製品およびサービス（以下「本サービス」といいます）の利用に関する条件を、本サービスを利用するすべての利用者（以下「利用者」といいます）と当社との間で定めるものです。</p>
	</div>
	<div class="block">
	<h3>第1条（規約への同意）</h3>
	<ol>
     <li>利用者は、本規約の定めに従って本サービスを利用しなければなりません。利用者は利用規約をよくお読みください。</li>
     <li>利用者は、本サービスを実際に利用することによって本規約に有効かつ取消不能な同意をしたものとみなされます。</li>
	</ol>
	</div>
	<div class="block">
	<h3>第2条（Re:gurumeの目的）</h3>
 <p>本サービスは、利用者によって投稿された飲食店や飲食店に付随するもの(料理、外観、雰囲気等）に関するコメント・画像等（以下利用者から本サービスに投稿された情報を総称して「コンテンツ」といいます）を公開することで、本サービスの利用者や閲覧者が私的なランキング並びに利用者のコンテンツを参考として活用していただくことを主な目的としています。</p>
	</div>
	<div class="block">
	<h3>第3条（情報の取扱い）</h3>
 <ol>
     <li>利用者は、本サービスの利用に際して利用者ご本人に関する情報を当社に対して提供する場合、真実、正確かつ完全な情報を提供しなければなりません。</li>
     <li>利用者は、本サービスの利用に際して登録するパスワードを不正に利用されないよう自らの責任で厳重に管理しなければなりません。当社は、登録されたパスワードを利用して行なわれた一切の行為を、利用者ご本人の行為とみなすことができます。</li>
     <li>利用者の個人情報の取扱いに関しては、本規約のほか、当社のプライバシーポリシーに従います。</li>
     <li>当社は、利用者に対して本サービスを提供するにあたり、必要な一定の利用者の個人情報を取得しますが、これらの個人情報の利用目的は以下のとおりです。
         <ol class="type1">
             <li>ログイン時における本人確認のため</li>
             <li>電子メール等の方法により、当社又は当社のグループ会社の商品、サービスをご案内するため</li>
             <li>個人を識別できない形式に加工した上、統計データを作成するなど当社サービスの利用促進のため</li>
             <li>本サービスに関し、必要に応じて利用者に対し連絡をするため</li>
         </ol>
     </li>
     <li>第三者提供について当社は、以下のいずれかに該当する場合を除き、利用者の個人情報を第三者へ開示又は提供いたしません。
         <ol class="type1">
             <li>利用者の同意があるとき</li>
             <li>利用者を識別することができない状態で統計的なデータとして開示・提供するとき</li>
             <li>法令に基づくとき</li>
             <li>人の生命、身体又は財産の保護のために必要な場合で、利用者の同意を得ることが困難なとき</li>
             <li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要があるときに、利用者の同意を得ることが困難なとき</li>
             <li>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要があるときに、利用者の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
         </ol>
     </li>
     <li>当社は取得した個人情報の取扱いの全部又は一部を、必要な保護措置を講じた上、上記利用目的に必要な範囲において、委託する場合があります。</li>
     <li>本サービスを利用していただく利用者により良いサービスを提供するためにクッキー（Cookie）、Webビーコンを使用します。 クッキーは、利用者のブラウザ設定によりクッキーの受け取りを拒否したり、制限できますが、その際は、本サービスの利用において制約を受ける場合があります。Webビーコンの使用に関しては、利用者側で制限することが出来ない場合があります。 当社はこれらの技術を利用者の個人情報を取得する目的では使用していません。 クッキーは主に、広告配信用のため、アクセス解析のため、ログイン情報保持のために使われます。</li>
     <li>本サービスにおいて口コミを投稿する際に、利用者がFacebook等の外部サービス（以下「外部サービス」といいます）との連携機能を利用する場合、利用者は、かかる連携により、利用者が作成したコンテンツの外部サービスへの投稿を当社が利用者に代行して行うこと、及び、当社が利用者に代行して外部サービスへの投稿にあたり、当該コンテンツに関連するウェブページへのURLを付加して投稿することを予め承諾するものとします。なお、利用者は、連携機能を利用してログインする際に、当社がデータにアクセスすることについての許可を求められることがあり、かかる内容を確認の上、許可した場合に限り、連携機能を利用することができるものとします。<br>
     外部サービスのユーザーIDの登録・利用を含む全ての外部サービスの利用（利用者が作成したコンテンツの外部サービスへの投稿を含みます）については、利用者は、外部サービスの運営者が規定する各規約の定めに従うものとします。<br>
     外部サービスを利用する場合、利用者は、自己の責任において当該サービスを利用するものとし、当社は、当該サービスを利用したことにより生じた損害、当該サービスの運営者・利用者等との間に生じたトラブルその他の当該サービスに関連する一切の事項について何らの責任も負わないものとします。</li>
 </ol>
	</div>
	<div class="block">
	<h3>第4条（禁止事項）</h3>
 <p>利用者は、本サービスの利用に際して、以下に記載することを行なってはならず、また、以下の記載事項をおこなわないことを保証します。</p>
	<ol>
     <li>法令、裁判所の判決、決定もしくは命令、または法令上拘束力のある行政措置に違反する行為。</li>
     <li>公の秩序または善良の風俗を害するおそれのある行為（過度に暴力的な表現、露骨な性的表現、その他反社会的な内容を含み他人に不快感を与える表現を投稿、掲載、公開、送信する行為などを含みます）。</li>
     <li>当社または第三者の権利（著作権、商標権、特許権等の知的財産権、名誉権、プライバシー権、その他法令上または契約上の権利を広く含みます）を侵害する行為。</li>
     <li>当社または第三者になりすます行為または意図的に虚偽の情報を流布させる行為。</li>
     <li>当社の事前の同意を得ずに営利を目的として本サービスを利用する行為、異性との出会い、交際等を希望することが主な目的と認められる行為、その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為。</li>
     <li>反社会的勢力に対する利益供与その他の協力行為。</li>
     <li>宗教活動または宗教団体への勧誘行為。</li>
     <li>許諾なく第三者の個人情報、登録情報、利用履歴情報などを収集、開示または提供する行為。</li>
     <li>当社による本サービスの運営または他の利用者による本サービスの利用を妨害し、これらに支障を与える行為。</li>
     <li>利用者の投稿したコンテンツを利用し利益を得る行為。</li>
     <li>上記（1）から（10）のいずれかに該当する行為を援助または助長する行為。</li>
     <li>その他、当社が不適当と判断した行為。</li>
	</ol>
	</div>
	<div class="block">
	<h3>第5条（コンテンツの取扱い）</h3>
 <ol>
     <li>本規約において、「コンテンツ」とは、文章、画像、プログラム、コードその他の情報のことをいい、「本コンテンツ」とは、本サービスを通じてアクセスすることができるコンテンツのことをいい、「投稿コンテンツ」とは、利用者が本サービスに投稿、送信、アップロードするなどして当社の管理するサーバに保存させたコンテンツのことをいい、「公開投稿コンテンツ」とは、本サービスにおいて、他の利用者一般による閲覧またはアクセスが可能な投稿コンテンツのことをいいます。</li>
     <li>利用者は、公開投稿コンテンツを含むすべての投稿コンテンツに対して有する権利を従前どおり保持し、当社がかかる権利を取得することはありません。ただし、利用者は、本サービスの利用により、当社に対し、公開投稿コンテンツを利用する権利（営利目的の有無を問わず、複製、上演、演奏、上映、公衆送信、公衆伝達、口述、展示、頒布、譲渡、貸与、翻訳、翻案、当社が事業目的上必要とみなす範囲で）改変する権利を含みます。また、これらの権利を第三者に再許諾する権利を含みます）を無償でかつ無期限に、地域の限定なく許諾したこととなり、当社はかかる利用権を取得します。この場合、利用者は、公開投稿コンテンツに関する著作者人格権を当社または当社の指定する第三者による上記範囲での利用に対して行使しないことにも同意したこととなります。</li>
     <li>利用者は、本コンテンツを、本サービスが当然に予定している利用態様を超えて利用（複製、送信、転載、改変などの行為を含みます）してはなりません。ただし、当社および本コンテンツの権利者から事前の承諾を受けた場合はこの限りではありません。</li>
     <li>当社は、法令または本規約の遵守状況などを確認する必要がある場合、投稿コンテンツの内容を確認することができます。ただし、当社はかかる確認を行なう義務を負うものではありません。</li>
     <li>当社は、利用者が投稿コンテンツなどに関し法令もしくは本規約に違反しまたは違反するおそれのあると当社が認めた場合、その他業務上の必要性がある場合には、あらかじめ利用者に通知することなく、当社の管理するサーバから投稿コンテンツを削除するなどの方法により、本サービスまたは投稿コンテンツを利用できないようにすることができます。そのため、利用者は常に投稿コンテンツのバックアップを作成しておくことが推奨されます。</li>
     <li>当社は一定期間の予告後、その指定した日にちにサービスを閉鎖する場合があります。利用者は投稿コンテンツのバックアップを推奨されます。</li>
 </ol>

	</div>
	<div class="block">
     <h3>第6条（当社に対する補償）</h3>
     <p>利用者は、利用者が法令または本規約に違反して本サービスを利用したことに起因して（かかる趣旨のクレームを第三者より当社が受けた場合を含みます）、当社が直接的もしくは間接的に何らかの損害、損失または費用負担（弁護士費用の負担を含みます）を被った場合、当社の請求にしたがって直ちにこれを賠償または補償しなければなりません。</p>
	</div>
	<div class="block">
	<h3>第7条（本サービスの提供、無保証、変更、中止）</h3>
	<ol>
     <li>利用者は、本サービスを利用するにあたり、必要なパーソナルコンピュータ、携帯電話機、通信機器、オペレーションシステム、通信手段および電力などを、利用者の費用と責任で用意しなければなりません。</li>
     <li>当社は、本サービスに当社または第三者の広告を掲載することができるものとします。</li>
     <li>当社は、当社が必要と判断する場合、あらかじめ利用者に通知することなく、いつでも、本サービスの全部または一部の内容を変更し、また、その提供を中止することができるものとします。</li>
     <li>当社は、本サービス（本コンテンツを含みます）に事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みますが、これらに限りません）がないことを保証しておりません。当社は、利用者に対して、かかる瑕疵を除去して本サービスを提供する義務を負いません。当社は、利用者が本規約に違反して本サービスを利用していると認めた場合、当社が必要かつ適切と判断する措置を講じます。ただし、当社は、利用者および第三者に対して、利用者その他の者が本規約に違反しないことを保証するものではありません。また、当社は、利用者および第三者に対して、かかる違反を防止または是正する義務を負いません。</li>
	</ol>
	</div>
	<div class="block">
	<h3>第8条（当社の責任の免除）</h3>
	<ol>
     <li>当社は、本サービスに起因して利用者に生じたあらゆる損害について一切の責任を負いません。ただし、本サービスに関する当社と利用者との間の契約（本規約を含みます）が消費者契約法に定める消費者契約となる場合、本項の免責規定は適用されません。</li>
     <li>前項ただし書に定める場合であっても、当社は、当社の過失（重過失を除きます。以下、本項において同じ）による債務不履行または不法行為により利用者に生じた損害のうち特別な事情から生じた損害（当社または利用者が損害発生につき予見し、または予見し得た場合を含みます）について一切の責任を負いません。また、当社の過失による債務不履行または不法行為により利用者に生じた損害の賠償は以下に定める金額を上限とします。</li>
     <li>当社は、掲載された店舗及び商品に関する情報については、いかなる保証もいたしません。ご予約時、ご注文時、又はお出かけの前に、住所・営業時間・定休日などを電話等の方法により直接お店に確認されることをお勧めいたします。また、掲載された店舗、おとりよせ商品に関する情報によって利用者に生じた損害や、利用者同士のトラブル等について、当社は一切の補償及び関与をいたしません。</li>
     <li>当社は、掲載されたコンテンツの内容に関していかなる保証もいたしません。利用者のご判断でご利用ください。また、掲載された口コミによって生じた利用者の損害（利用者が作成した各種コンテンツによるコンピュータ・ウィルス感染被害なども含みます）や、利用者同士のトラブル等に対し、当社は一切の補償及び関与をいたしません</li>
     <li>本サービスは利用者からの自己責任に基づくコンテンツの投稿によって成り立っていますが、利用者に快適にご利用いただくため、下記に該当・類似するコンテンツが発見された場合、予告無く、当該コンテンツを本サービス上から削除する場合があります。<br>なお、削除対象に該当するか否かは、全て当社が判断いたします。
         <ol class="type1">
             <li>公序良俗に反するもの</li>
             <li>本サービスの趣旨、又はコンテンツの対象となるお店や商品と関係のないもの</li>
             <li>有害なプログラム・スクリプト等を含むもの</li>
             <li>営利を目的としたものや個人的な売買・譲渡を持ちかける内容、宣伝行為に関するもの</li>
             <li>その他、本サービスの管理運営を妨げる等、当社が不適切と判断したもの</li>
         </ol>
         <p>これらは上記記載の通り予告なく削除する他、対象となる利用者を予告なく削除する場合があります</p>
     </li>
     <li>コンテンツ入力等を利用するには会員登録が必要となります。
        本サービス、利用者からの自己責任に基づくコンテンツの投稿によって成り立って本サービスは、当方の裁量で、書き込まれた内容を監視し、本サービスの利用規約に反すると判断した場合、これを削除する権限を有します。また、本サービスは、当方の裁量において、本利用規約に違反している会員については、会員登録を解除する権限を有します。
        利用者がコンテンツ等に本利用規約に違反すると思われる内容が書き込まれたのを発見した場合、info@regurume.comまでご連絡ください。<br>
        また、当社は、コンテンツ等の書き込み内容を可能な限り監視するべく努めておりますが、常にコンテンツ等を監視する責任や特定のコンテンツを削除する責任を負うわけではありません。</li>
        <li>利用者が本サービスを通して行う取引（飲食店情報、住所や営業時間の取得、クーポンの取得、問い合わせ等をいいます）は、すべて利用者のみなさまと「サービス提供者」（取引の対象となる商品又はサービスを提供する者をいい、飲食店、宿泊施設、鉄道会社、商品出品者、及びこれらの代理店が含まれます）との間で直接行っていただくものです。<br>
        当社は、取引の当事者とはならず、取引に関する責任は負いません。したがって、万一取引に関してトラブルが生じた場合には、利用者とサービス提供者との間で直接解決していただくことになります。</li>
    <li>本サービスのランキングや投稿(お店に来店した際の一言投稿)は私的なランキング、または投稿であり、利用者は自己の判断に基づきコンテンツの内容を判断していただくことになります。</li>
	</ol>

	</div>
	<div class="block">
	<h3>第9条（退会、利用停止等）</h3>
		<ol>
		<li>本サービスに会員登録した利用者は、いつでもアカウントを削除して退会することができます。この場合、当社が保有する利用者ご本人に関する情報は、個人情報保護法その他の関連法規およびプライバシーポリシーに従い処理されます。なお、第4条第2項に基づき当社が取得した公開投稿コンテンツの利用権は、利用者の退会後も有効に存続します。</li>
  <li>当社は、利用者が本規約に違反しまたは違反するおそれがあると認めた場合、あらかじめ利用者に通知することなく、アカウントを停止または廃止することができます。</li>
  <li>他の事業者が提供するアカウント（以下「他社アカウント」といいます）で本サービスにログインする利用者は、当該他社アカウントが削除される等により、当該他社アカウントがこれを提供する事業者によって認証されなくなった場合、当該他社アカウントにより本サービスにログインして、本サービスを利用することはできなくなりますのでご注意ください。<br>
また、他社カウントでログインをしている利用者は通常会員(他社アカウントを利用しない利用者)と同様にサイト内退会ページから退会することができます。</li>
  <li>利用者が退会を希望する場合は、当社の所定の退会手続を行うものとします。</li>
  <li>利用者は、退会手続を行った場合、当社でご利用いただいていた利用者のアカウントに関する一切の権利、特典を失うものとします。</li>
  <li>利用者は、退会手続によっても、自らの投稿したコンテンツ内容は削除されないことを予め承諾するものとします</li>
	</ol>

	</div>
	<div class="block">
	<h3>第10条（リンクの扱い）</h3>
 <p>本サービスの中から他のウェブサイトやリソースにリンクしたり、第三者のウェブサイトやリソースから本サービスへのリンクを提供している場合があります。この場合、本サービスは、当該サイトやリソースを管理していませんので、これらの利用及びその結果については、一切責任を負いません。</p>
	</div>
	<div class="block">
	<h3>第11条（通知または連絡の方法）</h3>
 <ol>
     <li>本サービスに関する当社から利用者への通知または連絡は、当社が運営するウェブサイト内の適宜の場所への掲示その他、当社が適当と判断する方法により行ないます。</li>
     <li>本サービスに関する利用者から当社への通知または連絡は、当社が運営するウェブサイト内の適宜の場所に設置するお問い合わせフォームの送信または当社が指定する方法により行っていただきます。</li>
 </ol>

	</div>
	<div class="block">
	<h3>第12条（準拠法、裁判管轄）</h3>
 <ol>
     <li>本サービスに関して、本規約とは別に「プライバシーポリシー」などの名称で当社が配布または掲載している文書（以下「個別利用規約」といいます）がある場合、利用者は、本規約のほか個別利用規約の定めにも従って本サービスを利用しなければなりません。</li>
     <li>個別利用規約と本規約とで矛盾する内容が規定されている場合、矛盾する箇所に限り、個別利用規約の内容が優先して適用されます。</li>
 </ol>
	</div>
 	<div class="block">
	<h3>第13条（本規約等の変更）</h3>
 <p>当社は、当社が必要と判断する場合、あらかじめ利用者に通知することなく、いつでも、本規約および個別利用規約を変更できるものとします。変更後の本規約および個別利用規約は、当社が運営するウェブサイト内の適宜の場所に掲示された時点からその効力を生じるものとし、利用者は本規約および個別利用規約の変更後も本サービスを使い続けることにより、変更後の本規約および適用のある個別利用規約に対する有効かつ取消不能な同意をしたものとみなされます。かかる変更の内容を利用者の皆様に個別に通知することはいたしかねますので、本サービスをご利用の際には、随時、最新の本規約および適用のある個別利用規約をご参照ください。</p>
	</div>
 
 	<div class="block">
	<h3>第14条（準拠法、裁判管轄）</h3>
 <p>本規約は日本語を正文とし、その準拠法は日本法とします。本サービスに起因または関連して利用者と当社との間に生じた紛争については東京地方裁判所または東京簡易裁判所を第一審の専属的合意管轄裁判所とします。かかる管轄裁判所で得られた勝訴判決は、いずれの国の裁判所においても執行可能とします。</p>
	</div>
 
	<div class="block">
		<p>以 上</p>
		<p>制定日:平成25年11月1日<br>アクサス株式会社</p>
	</div>
</div>
      </div>


    <!--/#container-->
    <!--#footer/-->
    {{include file="./common/footer.html"}}
    <!--/#footer-->
    {{include file="./common/pagetop.html"}}
    </div>
<script type="text/javascript" src="/js/user/top.js"></script>

<!--/#wrapper-->
{{include file="./common/tag.html"}}
</body>
</html>
