{{include file="./common/head.html"}}
<body>
<noscript>
<div class="noScript">サイトを快適に利用するためには、JavaScriptを有効にしてください。</div>
</noscript>
<!--#wrapper/-->
<div id="wrapperBg">
    <!--#header/-->
     {{include file="./common/header.html"}}
    <!--/#header-->
    <div id="headerUneder">
        <div class="wrap clearfix">
            <!--#breadcrumb/-->
            <ul id="breadcrumb" class="inline">
                <li><a href="">リグルメ-皆でつなぐグルメランキング</a> <span class="divider">&gt;</span></li>
                <li><a href="">お店を登録する</a> <span class="divider">&gt;</span></li>
                <li><a href="">確認する</a> <span class="divider">&gt;</span></li>
                <li class="active">完了する</li>
            </ul>
            <!--/#breadcrumb-->
        </div>
    </div>
    <!--#container/-->
    <div id="container" class="wrap ">
        <div id="boxEntry">
            <h2 class="titleBox01"><span>:</span>お店を登録する/完了する</h2>
            <div class="formStyleTable block">
			<p>新しくお店を登録していただきありがとうございました！<br>
			登録されたお店は、検索結果に反映されています。<br>
			引き続き、リグルメをお楽しみください。<br>
			</p>
        </div>
    </div>
 </div>

    <!--/#container-->

    <!--#footer/-->
    {{include file="./common/footer.html"}}
    <!--/#footer-->
    {{include file="./common/pagetop.html"}}
    </div>
<!--/#wrapper-->
{{include file="./common/tag.html"}}
</body>
</html>
