{{include file="./common/head.html"}}
<body>
<noscript>
<div class="noScript">サイトを快適に利用するためには、JavaScriptを有効にしてください。</div>
</noscript>
<div id="wrapperBg">
<!--#header/-->
 {{include file="./common/header.html"}}
<!--/#header-->
<div id="headerUneder">
        <!--#pankuzu/-->
        {{include file="./common/pankuzu.html"}}
        <!--#pankuzu/-->
</div>
<!--#contents/-->
<div id="container" class="wrap">
    <div id="boxEntry">
        <h2 class="titleBox01"><span>:</span>パスワード設定/変更手続き</h2>

             <div class="formStyleTable block">
             <p>パスワード設定/変更手続き用の URL を記載したメールを送信します。<br>リグルメにご登録のメールアドレスを入力してください</p>

            <form action="/password/mail" method="post" name="">
                <table>
                    <tr>
                        <th>メールアドレス</th>
                        <td>
                            {{if $errorflg}}
                            <ul class="textError">
                                {{foreach from=$error item=error_message}}
                                <li>{{$error_message}}</li>
                                {{/foreach}}
                            </ul>
                            {{/if}}
                        <!-- <p class="textError">登録されていないメールアドレス、もしくは書式がまちがっています</p> -->
                        <input type="text" name="email" value="{{$info.email}}" /></td>
                    </tr>
                </table>
                <div class="text-center">
                    <button class="btn btnFix" type="submit">送信する</button>
                </div>
                </div>
        	</form>
            </div>
    </div>
    <!--/#contents-->

    <!--#footer/-->
    {{include file="./common/footer.html"}}
    <!--/#footer-->
    {{include file="./common/pagetop.html"}}
    </div>
<!--/#wrapper-->
{{include file="./common/tag.html"}}
</body>
</html>