{{include file="./common/head_part_start.html"}}
{{include file="./common/head_part_meta.html"}}
{{include file="./common/head_part_js.html"}}
<script type="text/javascript" src="/js/user/coupondetail.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
{{if $keidoido}}
var keidoido = new Array();

$(document).ready(function(){
    function attachMessage(marker, msg) {
        google.maps.event.addListener(marker, 'click', function(event) {
          new google.maps.InfoWindow({
            content: msg
          }).open(marker.getMap(), marker);
        });
    }
	function init () {
		var i = 0;
		var data = new Array();
		{{foreach from=$keidoido key=k item=data}}
			{{if $k == 0}}
	        var latlng1 = new google.maps.LatLng('{{$data.latitude}}','{{$data.longitude}}');
	        var opts = {
	        zoom: 11,
	        center: latlng1,
	        mapTypeId: google.maps.MapTypeId.ROADMAP
	    	};
	        map = new google.maps.Map(document.getElementById("map_canvas"), opts);
	        {{else}}
			data.push({position: new google.maps.LatLng('{{$data.latitude}}','{{$data.longitude}}'), content: '{{$data.shop_name}}'});
			{{/if}}
		{{/foreach}}
	    for (i = 0; i < data.length; i++) {
	        var myMarker = new google.maps.Marker({
	          position: data[i].position,
	          map: map
	        });
	        attachMessage(myMarker, data[i].content);
	    }
	}
	window.onload = init();
});
{{/if}}
</script>
{{include file="./common/head_part_css.html"}}
{{include file="./common/head_part_end.html"}}

<body>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=1392971240920479";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- ここから -->

<noscript>
<div class="noScript">サイトを快適に利用するためには、JavaScriptを有効にしてください。</div>
</noscript>

<!--#wrapper/-->
<div id="wrapper">
    <!--#header/-->
    {{include file="./common/header.html"}}
    <!--/#header-->
    <div id="headerUneder">
        <!--#pankuzu/-->
        {{include file="./common/pankuzu.html"}}
        <!--#pankuzu/-->
    </div>
    <!--#contents/-->
    <div id="container" class="wrap clearfix">
        <div id="colomnContents">
        	<h2 class="titleBox01"><span>:</span>{{$user_name}}さんの使える|<a href="/shop/detail/id/{{$coupon_detail_info.shop_id}}" title="{{$coupon_detail_info.shop_name}}">{{$coupon_detail_info.shop_name}}さん</a>のクーポン</h2>
		<div class="inputStyleBox">
            <div class="rankDate">
                <div class="block">
					</div>
					<div class="">
		            	<div class="borderBox">
			                   <dl class="userInfo">
			                    <dt class="title">クーポン</dt>
			                    <dd class="clearfix">
			                    <table class="couponTable01">
										<thead>
											<tr>
												 <th>発行しました。</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="/user/coupon/">一覧へ戻る</a></td>
											</tr>

										</tbody>
								</table>
			                    </dd>
			                   </dl>
			            </div>
					</div>
     		</div>
        </div>
</div>
        <!--#右サイド/-->


         {{include file="./common/rightside.html"}}

        <!--#右サイド/-->

    </div>
    <!--/#contents-->

    <!--#footer/-->
    {{include file="./common/footer.html"}}
    <!--/#footer-->
    {{include file="./common/pagetop.html"}}
</div>
<!--/#wrapper-->

</body>
</html>


