{{include file="./common/head_part_start.html"}}
{{include file="./common/head_part_meta.html"}}
{{include file="./common/head_part_js.html"}}
{{include file="./common/head_part_css.html"}}
{{include file="./common/head_part_end.html"}}
<body>
<noscript>
<div class="noScript">サイトを快適に利用するためには、JavaScriptを有効にしてください。</div>
</noscript>
<!--#wrapper/-->
<div id="wrapperBg">
    <!--#header/-->
     {{include file="./common/header.html"}}
    <!--/#header-->
    <div id="headerUneder">
        <!--#pankuzu/-->
        {{include file="./common/pankuzu.html"}}
        <!--#pankuzu/-->
    </div>
    <!--#container/-->
    <div id="container" class="wrap ">

            <h2 class="titleBox01"><span>:</span>アカウント削除が完了しました</h2>
            <div class="formStyleTable block">
         <p>Regurumeは、会員でない方も、他のユーザーが作ったランキングや、お店探しができます。<br>
         ぜひ、引き続きサービスをご活用ください。</p>

         <p class="listStyle1"><a href="/">トップページへ</a></p>
         </div>
    </div>
    <!--/#container-->
    <!--#footer/-->
    {{include file="./common/footer.html"}}
    <!--/#footer-->
    {{include file="./common/pagetop.html"}}
    </div>
<!--/#wrapper-->
{{include file="./common/tag.html"}}
</body>
</html>

